/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4; /* Light Gray background */
    color: #333; /* Dark gray text */
    line-height: 1.6;
    min-height: 100vh; /* Ensure the footer sticks to the bottom */
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Take up remaining space, pushing footer down */
    position: relative; /* Make main a positioning context */
    overflow: hidden;
}

.split-container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 400px; /* Adjust as needed, or set to 100vh for full screen */
    position: absolute;
    top: 0;
    left: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.split-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.side-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.side-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.split-side:hover .side-image img {
    opacity: 0.8;
}

.split-side h2 {
    font-size: 2.5em;
    position: relative;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}